.shake {
	animation-name: shake-base;
	animation-duration: 350ms;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-play-state: running
}
@keyframes shake-base {
	0% {
	 transform: translate(0px, 0px) rotate(0deg)
	}
	10% {
	 transform: translate(1px, -1px) rotate(-1deg)
	}
	20% {
	 transform: translate(-3px, 1px) rotate(1deg)
	}
	30% {
	 transform: translate(2px, 2px) rotate(-1deg)
	}
	40% {
	 transform: translate(1px, -3px) rotate(-1deg)
	}
	50% {
	 transform: translate(-1px, -3px) rotate(1deg)
	}
	60% {
	 transform: translate(1px, -3px) rotate(1deg)
	}
	70% {
	 transform: translate(1px, 1px) rotate(-1deg)
	}
	80% {
	 transform: translate(1px, 2px) rotate(-1deg)
	}
	90% {
	 transform: translate(1px, -2px) rotate(-2deg)
	}
	100% {
	 transform: translate(-3px, -1px) rotate(-2deg)
	}
}