#id-todo-list .done {
	color: rgb(65, 65, 65);
	text-decoration: line-through;
}

#id-todo-content {
	width: 400px;
	height: 550px;
	position: absolute;
	left: 150px;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(150, 150, 150, 0.3);
}

#detail-triangle {
	position:absolute;
    top:50%;
    margin-top:-15px;
    left:585px;
    display:block;
    width:0;
    height:0;
    overflow:hidden;
    line-height:0;
    font-size:0;
    border-bottom:15px solid rgba(0, 0, 0, 0);
    border-top:15px solid rgba(0, 0, 0, 0);
    border-left:none;
    border-right:15px solid rgba(150, 150, 150, 0.3);
}

#id-todo-detail {
	width: 450px;
	height: 580px;
	padding: 0 20px;
	position: absolute;
	left: 600px;
	top: 50%;
	transform: translateY(-50%);
	background: rgba(150, 150, 150, 0.3);
	border-radius: 20px;
	box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.2)
}

.todo-sticker {
	position: absolute;
	left: 30px;
	top: 30px;
	background: rgba(180, 180, 180, 0.1);
	padding: 10px; 
	width: 410px;
	height: 500px;
	border-radius: 1px;
	box-shadow: 0px 0px 3px 4px rgba(180, 180, 180, 0.1);
}

.todo-title {
	position: absolute;
	left: 10px;
	top: 8px;
	overflow: hidden;
	width: 410px;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	cursor: default;
	user-select: none;
	outline: none;
	border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}


.todo-time {
	user-select: none;
	cursor: default;
	width: 100%;
	margin-top: 50px; 
	font-size: 15px;
	line-height: 25px;
	border-bottom: 1px solid rgba(200, 200, 200, 0.3);
}

.todo-deadline-title {
	margin-right: 0px;
	line-height: 20px; 
	user-select: none;
	cursor: default;
	display: inline-block;
	
}

.todo-finish-time {
	width: 160px;
	outline: none;
	display: inline-block;
}

.todo-message {
	width: 100%;
	font-size: 20px;
	text-indent: 1em;
	line-height: 30px;
	overflow-y: scroll;
	outline:none;
	max-height: 385px;
	user-select: none;
}

#id-list-window {
	overflow-y: scroll;
	position: absolute;
	left: 0px;
	top: 20px;
	width: 298px;
	height: 510px;
	padding-left: 100px;
}

#id-vertical-line {
	width: 2px;
	height: 510px;
	background: #363636;
	position: absolute;
	left: 98px;
	top: 20px;
}

.todo-card {
	height: 80px;
	width: 275px;
	background: rgba(255, 255, 255, 0.1);
	margin-top: 5px;
	margin-left: 14px;
	position: relative;
	transition: 0.5s;
}

.todo-card:hover {
	height: 100px;
	transform: translate3d(-3px, -4px, -4px);
	box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, 0.4);
}

.todo-card:hover .circle {
	width: 22px;
	height: 22px;
	transform: translate(-7.5px, -50%);
}

.circle {
	transition: 0.5s;
	width: 15px;
	height: 15px;
	background: #363636;
	border-radius: 50%;
	position: absolute;
	left: -16px;
	top: 50%;
	transform: translate(-50%, -50%);
}

.list-time {
	font-size: 14px;
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
	width: 85px;
	height: 35px;
	position: absolute;
	left: -110px;
	top: 50%;
	transform: translateY(-50%);
}

.card-title {
	text-indent: 1.4em;
	line-height: 80px;
	font-size: 20px;
}

.todo-message::-webkit-scrollbar,
#id-list-window::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	border-radius: 4px;
}

.todo-message::-webkit-scrollbar-track,
#id-list-window::-webkit-scrollbar-track
{
	border-radius: 4px;
	background-color: rgba(255, 255, 255, 0.2);
}

.todo-message::-webkit-scrollbar-thumb,
#id-list-window::-webkit-scrollbar-thumb
{
	width: 10px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}